<h1>Restauración de contraseña</h1>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Hay errores en el formulario</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <label for="post_name">Contraseña</label>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <label for="reset">Confirmación de la contraseña</label>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions"><%= f.submit "Actualizar Contraseña" %></div>
<% end %>