<table>
  <tr>
    <th><a href="?sort_by=provider_id">Proveedor</a></th>
    <th><a href="?sort_by=name">Nombre</a></th>
    <th>Etiquetas</th>
    <th colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= h article.provider.name %></td>
        <td><%= h article.name %></td>
        <td><%= link_to 'Show', :action => 'show', :id => article %></td>
        <td><%= link_to 'Edit', :action => 'edit', :id => article  %></td>
        <td><%= button_to 'Delete', { :action => 'destroy', :id => article },
                          data: { confirm: "¿De veras desea eliminar el artículo #{article.title}?" } %></td>
      </tr>
  <% end %>
</table>
<br/>
<%= will_paginate @articles, :page_links => false, :link_separator => ' | ',
                  :previous_label => 'Página anterior', :next_label => 'Página siguiente' %>
<p><%= link_to 'Añadir un nuevo artículo', :action => 'new' %></p>
